{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <script src="{% static "js/jquery.touchSwipe.js" %}" type="text/javascript"></script>
    <script src="{% static "js/snake.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <button class="startPlay">Click to Play</button>
    <button class="slow">Slow</button>
    <button class="medium">Medium</button>
    <button class="fast">Fast</button>
    <div class="highScore">

    </div>


    <center>
        <canvas id="canvas" width="400" height="400"></canvas>
    </center>

    <div id="test">


    </div>

      <script>
				$(function() {
					//Enable swiping...
					$("#test").swipe( {
						//Generic swipe handler for all directions
						swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
							$(this).text("You swiped " + direction );
						},
						//Default is 75px, set to 0 for demo so any distance triggers swipe
					   threshold:0
					});
				});
	</script>
{% endblock %}

